  <div class="container">
    <div class="text-center">
      <p><h1>Bienvenido a la Sala de Juegos<br>de Nicolas Pantano</h1>
        <p><h5>Para continuar por favor <a routerLink="/login" class="linkVioleta">inicie sesion</a> o cree una cuenta</h5>
    </div>
    <div class="box-parent">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Nuevo Usuario</mat-card-title>
        </mat-card-header>
    
        <div class="form">
          <form novalidate (ngSubmit)="Registrar()" [formGroup]="form">
            <fieldset>
              <mat-card-content>
                <p>
                <mat-form-field class="example-full-width">
                  <input type ="email" matInput placeholder="Email" [(ngModel)]='user.correo'  id="correo" formControlName="correo" [class]="isValid('correo')">
                </mat-form-field>
              </p>
                <mat-form-field class="example-full-width">
                  <input type="password" matInput placeholder="Password" [(ngModel)]='user.password' id="password" formControlName="password" [class]="isValid('password')">
                </mat-form-field>
              </mat-card-content>
              <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="form.invalid">Registrarse</button>
            </fieldset>
          </form>
          
          
        </div>
      </mat-card>
    </div>
    </div>
    
  
  
  