<div class="container text-center">
    <h1>Sala de juegos<br>Nicolas Pantano</h1>
    
    <div class="row">
        <div class="col-6" routerLink="juegos/piedra-papel-tijera">
            <div class="card  text-white">
                <h2 class="card-title">Piedra papel o tijera</h2>
                <img class="card-img" src="../../../assets/piedrapapeltijera.jpg" alt="Card image">
                
              </div>
        </div>
        <div class="col-6" routerLink="juegos/ta-te-ti">
            <div class="card  text-white">
                <h2 class="card-title">Ta Te Ti</h2>
                <img class="card-img" src="../../../assets/tateti.jpg" alt="Card image">
                
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" routerLink="juegos/mayormenor">
            <div class="card  text-white">
                <h2 class="card-title">Mayor o menor?</h2>
                <img class="card-img" src="../../../assets/mayoromenor.jpg" alt="Card image">
                
              </div>
        </div>
        <div class="col-6" routerLink="juegos/memotest">
            <div class="card  text-white">
                <h2 class="card-title">Memotest</h2>
                <img class="card-img" src="../../../assets/memotest.jpg" alt="Card image">
                
              </div>
        </div>
    </div>
</div>