<div class="container">
  <div class="row">
      
    <div class="col-8">

        <div class="text-center"  id="divPrincipal">
     
            <div>
              <h1>Ta Te Ti</h1>
              
              <div class="text-center"*ngIf='estado=="0"'>
              <p> El juego de Ta-Te-Ti -también llamado tic-tac-toe; tres en raya; el gato; ceros y cruces - es un juego simple, normalmente jugado con papel y lápiz en el que dos jugadores, uno con un símbolo X y el otro O deben conseguir colocar su ficha en línea en un tablero de 3×3, dicha línea puede ser horizontal, vertical o diagonal.              </p>

                <button class="btn btn-jugar" (click)="estado = '1'">Jugar</button>
              </div>

              <div *ngIf='estado=="1"'>

              

              <div [hidden]="botonesEleccion">
                <h4 style="color: black;">Seleccione su simbolo:</h4>
                <br>
                <br>
                <div class="row text-center">
                    <div class="col-sm eleccion" id="divCero" (click)="eleccionSigno('X')" >X</div>
                    <div class="col-sm eleccion" id="divUno" (click)="eleccionSigno('O')" >O</div>
                </div>
              </div>
              <div [hidden]="botonesJuego">
                
                    
                <div class="row text-center">
                    <div class="col-sm board" id="divCero" (click)="modificar(0)" >{{lugares[0]}}</div>
                    <div class="col-sm board" id="divUno" (click)="modificar(1)" >{{lugares[1]}}</div>
                    <div class="col-sm board" id="divDos" (click)="modificar(2)" >{{lugares[2]}}</div>
                </div>

                <div class="row text-center">
                    <div class="col-sm board" id="divTres" (click)="modificar(3)" >{{lugares[3]}}</div>
                    <div class="col-sm board" id="divCuatro" (click)="modificar(4)" >{{lugares[4]}}</div>
                    <div class="col-sm board" id="divCinco" (click)="modificar(5)" >{{lugares[5]}}</div>
                </div>

                <div class="row text-center">
                    <div class="col-sm board" id="divSeis" (click)="modificar(6)" >{{lugares[6]}}</div>
                    <div class="col-sm board" id="divSiete" (click)="modificar(7)" >{{lugares[7]}}</div>
                    <div class="col-sm board" id="divOcho" (click)="modificar(8)" >{{lugares[8]}}</div>
                </div>
 
                   
                
                
            </div>
            <br>
            <br>
            <div *ngIf="ganador">
              <div *ngIf="ganador=='usuario'">
                <h3>Felicidades, ganaste!</h3>
              </div>
              <div *ngIf="ganador=='Empate'">
                <h3> Hubo un empate</h3>
              </div>
              <div *ngIf="ganador=='maquina'">
                <h3> Lo siento, perdiste!</h3>
              </div>
              <p><button class="btn btn-jugar" (click)="reiniciarJuego() ">Volver a jugar</button></p>
              <button class="btn btn-jugar" (click)="estado = '2'">Contestar encuesta</button>

            </div>
          </div>

          <div *ngIf="estado == '2'">
            <p><app-encuesta></app-encuesta></p>
            <button class="btn btn-jugar" (click)="reiniciarJuego() ">Volver a jugar</button>

          </div>
            



    </div>

    </div>

  </div>

  <div class="col-4">
    <p><app-tatetichat></app-tatetichat></p>
    <app-score juego="tateti"></app-score>
  </div>

</div>

  </div>